NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_R2_PUBLIC_URL=
CHZZK_CLIENT_ID=
CHZZK_CLIENT_SECRET=
CRON_SECRET=
SITE_URL=http://localhost:3000
